{% extends 'core/base.html' %}
{% block content %}
<div class=" container mt-5">
<h1 class="text-warning mb-5 border-bottom">Services</h1>
<div class="row text-white mb-5">
    <div class="col-sm-4">
        <i class="fa-brands fa-html5 fa-beat fa-3x mb-3 i-color "></i>
        <h3>HTML5</h3>
        <P class="ss-color">HTML is the standard markup language for creating Web pages.HTML elements label
             pieces of content such as "this is a heading", "this is a paragraph", "this is a link", etc. </P>
    </div>
    <div class="col-sm-4">
        <i class="fa-brands fa-css3-alt fa-spin fa-3x mb-3 i-color" ></i>
        <h3>CSS3</h3>
        <P class="ss-color">CSS is the language we use to style a Web page. CSS saves a lot of work. It can control the layout of multiple web pages all at once.
            External stylesheets are stored in CSS files
        </P>
    </div>
    <div class="col-sm-4">
        <i class="fa-brands fa-js  fa-beat-fade fa-3x mb-3  i-color"></i>
        <h3>JavaScript</h3>
        <P class="ss-color">JavaScript is a scripting language that enables you to create dynamically updating 
            content, control multimedia, animate images, and pretty much everything else,</P>
    </div>
</div>

<div class="row text-white mb-5">
    <div class="col-sm-4">
        <i class="fa-brands fa-python  fa-shake fa-3x mb-3 i-color" ></i>
        <h3>Python</h3>
        <P class="ss-color">Python is a popular programming language. It was created 
         by Guido van Rossum, and released in 1991. It is used for web development (server-side),
        software development mathematics system scripting.</P>
    </div>
    <div class="col-sm-4">
        <i class="fa-brands fa-react fa-beat fa-3x  mb-3 i-color"></i>
        <h3>ReactJS.</h3>
        <P class="ss-color">Today, most of the websites are built using MVC (model view controller) architecture.
             In MVC architecture, React is the 'V' which stands for view, 
            whereas the architecture is provided by the Redux or Flux.</P>
    </div>
    <div class="col-sm-4">
        <i class="fa-brands fa-python  fa-beat fa-3x mb-3 i-color" ></i>
        <h3>Django</h3>
        <P class="ss-color">Django is a web application framework written in Python programming language. 
            It is based on MVT (Model View Template) design pattern. 
            The Django is very demanding due to its rapid development feature. 
            It takes less time to build application after collecting client requirement.</P>
    </div>
</div>

<div class="row text-white mb-5">
    <div class="col-sm-4">
        <i class="fa-brands fa-aws fa-beat fa-3x mb-3 i-color"></i>
        <h3>AWS</h3>
        <P class="ss-color">Today, AWS provides a highly reliable, scalable, 
            low-cost infrastructure platform in the cloud that powers hundreds 
            of thousands of businesses in 190 countries around the world. The following
            video explores how millions of customers use AWS to take advantage
             of the efficiencies of cloud computing.
             Amazon Web Services.</P>
    </div>
    <div class="col-sm-4">
        <i class="fa-sharp fa-database  fa-beat fa-3x mb-3 i-color"></i>
        <h3>SQL</h3>
        <P class="ss-color"> SQL stands for Structured Query Language.
             SQL lets you access and manipulate databases.
            SQL became a standard of the American National Standards 
            Institute (ANSI) in 1986, and of the International Organization for 
            Standardization (ISO) in 1987.
        </P>
    </div>
    <div class="col-sm-4">
        <i class="fas fa-code  fa-beat-fade fa-3x mb-3  i-color"></i>
        <h3>web development</h3>
        <P class="ss-color">Web development is the work involved in developing a 
            website for the Internet (World Wide Web) or an intranet (a private network).
             Web development can range from developing a simple single static page of plain
              text to complex web applications, 
            electronic businesses, and social network services.</P>
    </div>

    <div class="row text-white mb-5 mt-2">
        <div class="col-sm-4">
            <i class="fa-brands fa-square-git fa-beat fa-3x mb-3 i-color"></i>
            <h3>git</h3>
            <P class="ss-color">Git is a DevOps tool used for source code management. 
                It is a free and open-source version control system used
                 to handle small to very large projects efficiently. Git is used to tracking 
                 changes in the source code,
                 enabling multiple developers to work together on non-linear development.</P>
        </div>
        <div class="col-sm-4">
            <i class="fa-sharp fa-database  fa-beat fa-3x mb-3 i-color"></i>
            <h3>Hosting</h3>
            <P class="ss-color"> It provides a secure place to store online content.
                 The code, images, videos, and text that comprise a website all have to be stored somewhere. 
                 Without a stable digital repository, 
                none of us could consistently access content on the web.
            </P>
        </div>
        <div class="col-sm-4">
            <i class="fa-brands fa-ubuntu fa-flip fa-3x mb-3 i-color"></i>
            <h3>ubuntu</h3>
            <P class="ss-color">Ubuntu is a Linux distro based on Debian. 
                It is suitable for cloud computing,
                 servers, desktops, and internet of things (IoT) devices</P>
        </div>
</div>
</div>
{% endblock content %}