{% extends 'core/base.html' %}
{% block content %} 
<div class="container mt-5">
<h1 class="text-warning mb-5 border-bottom">SKILLS</h1>


  <div class="row text-white">
   <div class="col sm-5">
    <h3>HTML5/CSS3</h3>
  <div class="progress">
       <div class="progress-bar bg-danger" role="progressbar" style="width:100%" 
       aria-valuenow="100" aria-voluemin="0" aria-valuemax="100">100% </div>
    </div>
    </div>
 <div class="col sm-5 offset-sm-1">
    <h3>JavaScript</h3>
 <div class="progress">
     <div class="progress-bar  progress-bar-striped progress-bar-animated" role="progressbar" style="width:80%" 
        aria-valuenow="80" aria-voluemin="0" aria-valuemax="100">80%</div>
    </div>                
 </div>

 <div class="row text-white mt-4">
    <div class="col sm-5">
        <h3>python programming</h3>
      <div class="progress">
           <div class="progress-bar  progress-bar-striped progress-bar-animated" role="progressbar" style="width:85%" 
           aria-valuenow="85" aria-voluemin="0" aria-valuemax="100">85% </div>
        </div>
        </div>
     <div class="col sm-5 offset-sm-1">
        <h3>Django</h3>
     <div class="progress">
         <div class="progress-bar  progress-bar-striped progress-bar-animated" role="progressbar" style="width:90%" 
            aria-valuenow="90" aria-voluemin="0" aria-valuemax="100">90%</div>
        </div>                
     </div>

     <div class="row text-white mt-4">
        <div class="col sm-5">
            <h3>git/gitub</h3>
          <div class="progress">
               <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" style="width:100%" 
               aria-valuenow="100" aria-voluemin="0" aria-valuemax="100">100% </div>
            </div>
            </div>
         <div class="col sm-5 offset-sm-1">
            <h3>SQL</h3>
         <div class="progress">
             <div class="progress-bar  progress-bar-striped progress-bar-animated" role="progressbar" style="width:85%" 
                aria-valuenow="85" aria-voluemin="0" aria-valuemax="100">85%</div>
            </div>                
         </div>

    <div class="row text-white mt-4">
        <div class="col sm-5">
            <h3>Bootstrap5</h3>
        <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:100%" 
             aria-valuenow="100" aria-voluemin="0" aria-valuemax="100">100% </div>
        </div>
        </div>
        <div class="col sm-5 offset-sm-1">
        <h3>AWS</h3>
        <div class="progress">
    <div class="progress-bar  progress-bar-striped progress-bar-animated" role="progressbar" style="width:50%" 
      aria-valuenow="50" aria-voluemin="0" aria-valuemax="100">50%</div>
    </div>                
     </div>

   </div>
</div>

{% endblock content %} 